@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
#wrap {
	min-height: 100vh;
	position: relative;
	width: 100%;
	margin-bottom: 15%;
}
.container{
	margin-left: 20%;
    padding-top: 60px;
    width: 60%;
}
h5 {
    font-weight: bold;
    margin-bottom: 20px;
}
#fontdiv {
	font-size: 0.8em;
	display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
#attachBox {
	text-align: center;
}
#contentBox {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-bottom: 20%;
}